
input.ski-lift-input {
    width: 50%;
}

footer a {
    margin: 0 6em;
}

footer div {
    padding: 0 6em;
}

.container {
	width: auto !important;
	max-width: 2400px !important;
}


.homepage-text {
	text-align:center;
}


body {
	background-image: url("/images/ski-resort-background.jpeg");
	background-repeat:no-repeat;
	    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.searchForm {
    margin: 10em 16em;
	text-align:center;
}

img.google-image {
    height: 4em;
}

nav {
	background-color: rgba(137, 180, 206, .2);
}

footer {
	background-color: rgba(137, 180, 206, .2);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 80px 0 rgba(0,0,0,0.12), 0 6px 52px 2px rgba(0,0,0,0.2);
	position: absolute;
	bottom: 0;
	display: inline-block;
	margin: 0 auto;
	width: 100%;
}

ul#nav-mobile {
    /* display: flex; */
    position: absolute;
    top: 0;
    left: 20%;
}

.nav a {
	    padding: 10px !important;
}

footer h1,h2,h3,h4,h5 {
	color:white;
}
